@model OfficeVisit.ViewModels.ReportViewModel
@using OfficeVisit.Data.Model
@using Kendo.Mvc.UI

<h1>List of report</h1>
@foreach(var items in Model.Reports)
{
	<div class="container">
		<span  hidden="hidden">@items.OfficeId</span>
		<div class="row">
			<div class="col-md-2">
				<span>@items.VisitedDate</span>
			</div>
			<div class="col-md-2">
				<span>@items.NSSId</span>
			</div>
			<div class="col-md-2">
				<span>@items.SBDId</span>			</div>
			<div class="col-md-2">
				<span>@items.SOMId</span>
			</div>
			<div class="col-md-2">
				<span>@items.LastAuditDate</span>			</div>
			<div class="col-md-2">
				<span>@items.OfficeScore</span>
			</div>

		</div>

	</div>
}

<br />

@(Html.Kendo().Grid(Model.Reports)
	.Name("Grid")
	.Columns(columns =>
	{
		columns.Bound(p => p.VisitedDate).Title("Visited Date");
		columns.Bound(p => p.NSSId).Title("NSS Id");
		columns.Bound(p => p.SBDId).Title("SBD Id");
		columns.Bound(p => p.SOMId).Title("SOM Id");
		columns.Bound(p => p.LastAuditDate).Title("Last Audit Date");
		columns.Bound(p => p.OfficeScore).Title("Office Score");
		//columns.Bound(p => p.Office_Id).Hidden();

	})
	.Pageable()
	.Sortable()
	.Scrollable(scr => scr.Height(430))
	.Filterable()
	.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(20)
		.ServerOperation(false)
		)
)



